---

// Import the project scripts.
import { getIcon, getLanguage, getLanguages, getTranslation } from "../../scripts/build";

// Import the project layout.
import type { Properties } from "../../layouts/layout.astro";
import Layout from "../../layouts/layout.astro";

// Import the project components.
import IconByData from "../../components/icon-by-data.astro";

/**
 * Defines the static paths.
 * @returns The static paths.
 */
export async function getStaticPaths() {
    // Return the static paths.
    return getLanguages().map(language => ({ params: { languageId: language.id } }));
}

/**
 * Represents the parameters.
 */
export type Parameters = {

    /**
     * The language ID.
     */
    languageId: string;

};

// Get the parameters.
const parameters = Astro.params as Parameters;

// Get the current language.
const currentLanguage = getLanguage(parameters.languageId);

// Get the properties.
const properties: Properties = {
    title: getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/title"),
    languageId: currentLanguage.id,
    languageDirection: currentLanguage.direction,
} as const;

// Get the menu options.
const menuOptions = [
    { id: "regular", isChecked: true },
    { id: "vegetarian", isChecked: false },
    { id: "vegan", isChecked: false },
] as const;

// Get the menu restrictions.
const menuRestrictions = [
    { id: "glutenFree", isChecked: false },
    { id: "lactoseFree", isChecked: false },
] as const;

---

<Layout {...properties}>
    <Fragment slot="content-image">
        <div class="relative z-0 object-cover w-full h-full bg-gradient-to-br light:from-slate-200 light:to-slate-500 dark:from-slate-500 dark:to-slate-800" />
    </Fragment>
    <Fragment slot="content-text">
        <div class="relative z-10 flex-auto flex flex-col justify-center items-center h-full w-full px-2">
            <div class="w-full max-w-96 m-5 p-5 rounded border light:border-slate-200 light:bg-slate-100/50 dark:border-slate-800 dark:bg-slate-900/50">
                <div class="flex flex-col justify-center items-center w-full pt-4 pb-4 text-center">
                    <div class="w-full mx-1 my-1">
                        <span class="text-3xl font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/title")}</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full pt-0 pb-0 text-center">
                    <div class="self-stretch border-2 light:border-slate-200 dark:border-slate-800" />
                </div>
                <div class="flex flex-col justify-center items-center w-full pt-4 pb-4 text-center">
                    <div class="w-full mx-1 my-1">
                        <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/text/message")}</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full pt-0 pb-0 text-center">
                    <div class="self-stretch border-2 light:border-slate-200 dark:border-slate-800" />
                </div>
                <div class="flex flex-col justify-center items-center w-full pt-2 pb-4 text-center">
                    <form class="group/form flex flex-col justify-center items-center w-full" data-component="form" data-form-is-valid="unknown" action="" method="post">
                        <div class="flex flex-col justify-center items-center w-full my-2" data-form-entry="guest-name" data-form-entry-is-valid="unknown">
                            <div class="w-full mx-1 my-0">
                                <label for="guest-name" class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/guestName/name")}</label>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/guestName/isRequired?")}</span>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <input type="text" id="guest-name" class="w-full text-center rounded-md py-1.5 px-2 border outline-2 light:border-slate-300 light:bg-slate-50 light:outline-slate-500 light:hover:border-slate-500 dark:border-slate-700 dark:bg-slate-950 dark:outline-slate-500 dark:hover:border-slate-500" />
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light light:text-slate-600 dark:text-slate-400">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/guestName/description")}</span>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center items-center w-full my-2" data-form-entry="group-name" data-form-entry-is-valid="unknown">
                            <div class="w-full mx-1 my-0">
                                <label for="group-name" class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/groupName/name")}</label>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/groupName/isRequired?")}</span>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <input type="text" id="group-name" class="w-full text-center rounded-md py-1.5 px-2 border outline-2 light:border-slate-300 light:bg-slate-50 light:outline-slate-500 light:hover:border-slate-500 dark:border-slate-700 dark:bg-slate-950 dark:outline-slate-500 dark:hover:border-slate-500" />
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light light:text-slate-600 dark:text-slate-400">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/groupName/description")}</span>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center items-center w-full my-2" data-form-entry="menu-option" data-form-entry-is-valid="unknown">
                            <div class="w-full mx-1 my-0">
                                <label for="menu-option" class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuOption/name")}</label>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuOption/isRequired?")}</span>
                            </div>
                            <div class="w-full mx-1 my-0">
                                {menuOptions.map((menuOption) =>
                                    <label for={`menu-option-${menuOption.id}`} class="flex flex-row justify-center items-center mx-1 cursor-pointer light:hover:bg-slate-200 dark:hover:bg-slate-800">
                                        <input type="radio" name="menu-option" id={`menu-option-${menuOption.id}`} class="peer hidden" checked={menuOption.isChecked} />
                                        <div class="flex-none flex peer-checked:hidden flex-row justify-end items-center mx-1">
                                            <IconByData class:list="w-5 h-5 min-w-5" data={getIcon("radio-button-unchecked")} alternateText="" />
                                        </div>
                                        <div class="flex-none hidden peer-checked:flex flex-row justify-end items-center mx-1">
                                            <IconByData class:list="w-5 h-5 min-w-5" data={getIcon("radio-button-checked")} alternateText="" />
                                        </div>
                                        <div class="flex-none flex flex-row justify-start items-center mx-1">
                                            <span class="text=basis font-normal">{getTranslation(currentLanguage.id, `pages/[languageId]/rsvp/form/entry/menuOption/option/${menuOption.id}`)}</span>
                                        </div>
                                    </label>
                                )}
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light light:text-slate-600 dark:text-slate-400">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuOption/description")}</span>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center items-center w-full my-2" data-form-entry="menu-restriction" data-form-entry-is-valid="unknown">
                            <div class="w-full mx-1 my-0">
                                <label for="menu-restrictions" class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuRestrictions/name")}</label>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuRestrictions/isRequired?")}</span>
                            </div>
                            <div class="w-full mx-1 my-0">
                                {menuRestrictions.map((menuRestriction) =>
                                    <label for={`menu-restriction-${menuRestriction.id}`} class="flex flex-row justify-center items-center mx-1 cursor-pointer light:hover:bg-slate-200 dark:hover:bg-slate-800">
                                        <input type="checkbox" name="menu-restriction" id={`menu-restriction-${menuRestriction.id}`} class="peer hidden" checked={menuRestriction.isChecked} />
                                        <div class="flex-none flex peer-checked:hidden flex-row justify-end items-center mx-1">
                                            <IconByData class:list="w-5 h-5 min-w-5" data={getIcon("check-box-outline-blank")} alternateText="" />
                                        </div>
                                        <div class="flex-none hidden peer-checked:flex flex-row justify-end items-center mx-1">
                                            <IconByData class:list="w-5 h-5 min-w-5" data={getIcon("check-box")} alternateText="" />
                                        </div>
                                        <div class="flex-none flex flex-row justify-start items-center mx-1">
                                            <span class="text=basis font-normal">{getTranslation(currentLanguage.id, `pages/[languageId]/rsvp/form/entry/menuRestrictions/option/${menuRestriction.id}`)}</span>
                                        </div>
                                    </label>
                                )}
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light light:text-slate-600 dark:text-slate-400">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuRestrictions/description")}</span>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center items-center w-full my-2" data-form-entry="invitation-code" data-form-entry-is-valid="unknown">
                            <div class="w-full mx-1 my-0">
                                <label for="invitation-code" class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/invitationCode/name")}</label>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/invitationCode/isRequired?")}</span>
                            </div>
                            <div class="w-full mx-1 my-0">
                                <!-- <input type="text" id="invitation-code" class="w-full text-center rounded-md py-1.5 px-2 border outline-2 light:border-slate-300 light:bg-slate-50 light:outline-slate-500 light:hover:border-slate-500 dark:border-slate-700 dark:bg-slate-950 dark:outline-slate-500 dark:hover:border-slate-500" /> -->
                                <input type="date" id="invitation-code" class="w-full text-center rounded-md py-1.5 px-2 border outline-2 light:border-slate-300 light:bg-slate-50 light:outline-slate-500 light:hover:border-slate-500 dark:border-slate-700 dark:bg-slate-950 dark:outline-slate-500 dark:hover:border-slate-500" />
                            </div>
                            <div class="w-full mx-1 my-0">
                                <span class="text-xs font-light light:text-slate-600 dark:text-slate-400">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/invitationCode/description")}</span>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center items-center w-full my-2">
                            <div class="w-full mx-1 my-0">
                                <button type="submit" class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:text-slate-900 light:hover:border-slate-900 light:hover:bg-slate-200 light:hover:text-slate-900 dark:border-slate-100 dark:bg-slate-900 dark:text-slate-100 dark:hover:border-slate-100 dark:hover:bg-slate-800 dark:hover:text-slate-100">
                                    <div class="flex flex-row justify-center items-center mx-1">
                                        <span class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/submit")}</span>
                                    </div>
                                </button>
                            </div>
                            <div class="hidden group-data-[form-is-valid=true]/form:flex flex-col justify-center items-center w-full mt-2 p-2 border rounded light:border-green-700 light:bg-green-200 light:text-green-700 dark:border-green-300 dark:bg-green-800 dark:text-green-300">
                                <div class="w-full mx-1 my-1">
                                    <span class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/result/success")}</span>
                                </div>
                            </div>
                            <div class="hidden group-data-[form-is-valid=false]/form:flex flex-col justify-center items-center w-full mt-2 p-2 border rounded light:border-red-700 light:bg-red-200 light:text-red-700 dark:border-red-300 dark:bg-red-800 dark:text-red-300">
                                <div class="w-full mx-1 my-1">
                                    <span class="text-base font-semibold">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/result/error")}</span>
                                </div>
                                <div class="w-full mx-1 my-1">
                                    <div class="hidden group-has-[[data-form-entry=guest-name][data-form-entry-is-valid=false]]/form:flex flex-col justify-center items-center">
                                        <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/guestName/error")}</span>
                                    </div>
                                    <div class="hidden group-has-[[data-form-entry=group-name][data-form-entry-is-valid=false]]/form:flex flex-col justify-center items-center">
                                        <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/groupName/error")}</span>
                                    </div>
                                    <div class="hidden group-has-[[data-form-entry=menu-option][data-form-entry-is-valid=false]]/form:flex flex-col justify-center items-center">
                                        <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuOption/error")}</span>
                                    </div>
                                    <div class="hidden group-has-[[data-form-entry=menu-restriction][data-form-entry-is-valid=false]]/form:flex flex-col justify-center items-center">
                                        <span class="text-base font-normal">{getTranslation(currentLanguage.id, "pages/[languageId]/rsvp/form/entry/menuRestrictions/error")}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </Fragment>
</Layout>
