---

// Import the project scripts.
import { getImage, getLanguages, getLocalizedRoute } from "../scripts/build";

// Import the project layout.
import type { Properties } from "../layouts/layout.astro";
import Layout from "../layouts/layout.astro";

// Import the project components.
import ImageByData from "../components/image-by-data.astro";

// Get the properties.
const properties: Properties = {
    pageId: undefined,
    languageId: undefined,
    languageDirection: undefined,
} as const;

---

<Layout {...properties}>
    <Fragment slot="content-image">
        <ImageByData class:list="object-cover w-full h-full" data={getImage("cover-home")} alternateText="" />
    </Fragment>
    <Fragment slot="content-text">
        <div class="flex flex-col justify-center items-center w-full pt-4 pb-4 text-center">
            {getLanguages().filter((language) => language.id === "en").map(async (language) =>
                <div class="w-full mx-1 my-1" lang={language.id} dir={language.direction}>
                    <a href={getLocalizedRoute("/home/", undefined, language.id)} class="flex flex-row justify-center items-center w-full p-2 border rounded light:border-slate-900 light:bg-slate-100 light:hover:border-slate-900 light:hover:bg-slate-300 dark:border-slate-100 dark:bg-slate-900 dark:hover:border-slate-100 dark:hover:bg-slate-700">
                        <div class="flex flex-row justify-center items-center mx-1">
                            <ImageByData class:list="w-6 h-6 min-w-6" data={language.icon} alternateText={language.nativeName} />
                        </div>
                        <div class="flex flex-row justify-center items-center mx-1">
                            <span class="text-base font-semibold">{language.nativeName}</span>
                        </div>
                    </a>
                </div>
            )}
        </div>
    </Fragment>
</Layout>
